body,html
{
	height:100%;
}
#bg
{
	
	background-image:url("back.jpg");
	height: 100%; 

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:fixed;
}
p
{
	text-align:justify;
	color:DarkGray;
}
span
{
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
	color:yellow;
}
#heading
{
	color:black;
	
	font-size:40px;
	font-weight:bold;
	text-shadow:3px 3px 5px silver;
	text-decoration:underline;
	text-align:center;
	
	
}
#cap
{
	position:relative;
	left:100px;
	border:3px solid yellow;
		
}
#capfirstanchor
{
	position:relative;
	top:30px;
	right:100px;
	text-decoration:none;
	color:blue;
}

#hulk
{
	position:relative;
	left:30px;
	border:3px solid yellow;
}

#hulkanchor
{
	position:relative;
	top:30px;
	right:115px;
	text-decoration:none;
	color:blue;
}

#im
{
	position:relative;
	left:50px;
	border:3px solid yellow;

}

#imanchor
{
	position:relative;
	top:30px;
	right:80px;
	text-decoration:none;
	color:blue;
}

#im2
{
	position:relative;
	left:90px;
	border:3px solid yellow;

}

#im2anchor
{
	position:relative;
	top:30px;
	right:40px;
	text-decoration:none;
	color:blue;
	font-size
}

#thor
{
	position:relative;
	top:50px;
	left:440px;
	border:3px solid yellow;

}

#thoranchor
{
	position:relative;
	top:80px;
	left:320px;
	text-decoration:none;
	color:blue;
}

#avengers
{
	position:relative;
	top:50px;
	left:530px;
	border:3px solid yellow;

}

#avengersanchor
{
	position:relative;
	top:80px;
	left:390px;
	text-decoration:none;
	color:blue;
}
